<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .heading {
            font-size: 200px;
            text-align: center;
            background: url(still-life-water-with-peacock-feather.jpg) 0 0 cover no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>

<body>
    <h1 class="heading">Product Form</h1>

</body>

</html>